<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="FastAPI Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="<PATH_TO_PROJECT>\venv\Scripts\python.exe|<PATH_TO_PROJECT>\venv\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="PYTHONPATH" value="<PATH_TO_PROJECT>" />
    <add key="WSGI_HANDLER" value="main.wsgi_app" />
  </appSettings>
</configuration>